bin/*
src/*.o
src/util/*.o
config.cache
config.log
config.status
src/Makefile
src/conf.h
src/util/Makefile
src/.accepted
src/depend
src/util/depend
.vs/*
lib/circle.exe.stackdump
lib/circle.exe.stackdump
lib/etc/config
lib/etc/last
lib/etc/time
lib/etc/*
lib/plrfiles/*
lib/plrobjs/*
.gitignore
